Repository ietf-wg-ppm/draft-ietf-ppm-dap-taskprov, pull requests merged in 2024-10, with the labels that each got.

#73 Add salt to task ID computation (*)
  draft-wang-ppm-dap-taskprov.md
Labels: draft-01

#78 Update README to match draft title
  README.md
Labels: draft-01

#75 Address issue 70 - update codepoints
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01

#80 Forget about informing the Author of opt-out
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01

#81 Add back the expiration date to `TaskConfig`
  draft-ietf-ppm-dap-taskprov.md
Labels: bug, draft-01

#82 Update query config (*)
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01

#84 Flesh out IANA considerations and extending taskbind (*)
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking

#76 Address issue 62 - adding task start time
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking, interim-2024-10-24

#86 Address issue 83 - more bytes for DpMechanism
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking, interim-2024-10-24

#87 Fix a typo in "Extending this Document"
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, editorial

#89 Add an extension field to `TaskConfig` (*)
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking

#90 Remove DP mechanisms (*)
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking

#91 Improve extension points for batch modes and VDAFs (*)
  draft-ietf-ppm-dap-taskprov.md
Labels: draft-01, wire breaking
